{% extends "base.html" %}

{% block title %}
    Log-in
{% endblock %}

{% block content %}
    <h1>Log-in</h1>
    <p>Пожалуйста, используйте следующую форму для входа</p>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Войти"></p>
    </form>
{% endblock %}
